/*
Text input
------------
*/

#input-log {
    /* Subtract height of INPUT AREA */
    height: calc(100% - 1.6em);
    overflow-y: scroll;
    
    margin: 0;
    line-height: 1.3em;
}

#input-area {
    height: 1.6em;
}

#user-input {
    width: 90%;
    height: 1.5em;
    display: inline-block;
    
    padding: 0 0 0 0.1em;
    margin: 0;

    background: black;
    border: 0;
    outline: none;

    color: #7edc9d;
    text-shadow: 1px 1px 3px #7edc9d;
}

#cmd {
    height: 1.5em;
    width: auto;
    display: inline-block;

    margin-left: 0.3em;

    background: transparent;
    color: white;
    padding: 0;
    overflow: hidden;
}

#user {
    font-weight: bold;
    color: rgb(78, 154, 7)
}

#cmd span {
    float: left;
    white-space: pre;
}

/* The blinking rectangle */
#cursor {
    width: 0.5em;
    height: 1.25em;

    margin-left: 0.1em;

    float: left;
    background: white;
}

/* Hide the actual input */
input {
    width: 0;
    height: 0;
    
    opacity: 0;
}